extends layout
block content


    p.help
        | Revisió Plà General (Aprovació Inicial)
        a.logo(href='https://www.palma.cat/')         
            img(src='/images/escudo_palma.jpg')
           

    #map
       
       
    script.
        aprobacion_inicial()
     