extends layout

block content
	#map
		.map-title-af
			| VISOR AFECCIONS  
			// a(href='https://www.palma.cat/')
			img(src='/images/SIGDU_CABECERA.png', alt='Portal palma.cat') 
			img(src='/images/escudo_palma2.png', alt='Portal palma.cat')

		#dialog-message(title="")
		
		
	script.
		mainApp_AF()
     