extends layout

block content
  
	#map
		.map-title
			| VISOR URBANÍSTICO  
			// a(href='https://www.palma.cat/') 
			img(src='/images/escudo_palma.png', alt='Portal palma.cat')
		
	script.
		mainApp()
     